.scroller-container {
    background-color: rgba(0, 0, 0, .8);
}

.scroller {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 1em;
    padding: 1em;
}

.scroller-title {
    color: yellow;
    margin: 0;
    padding: .5em;
    font-size: 1.5em;
    font-weight: normal;
}

.scroller-item {
    flex-shrink: 0;
}