.minicard {
    position: relative;
    width: 185px;
    height: 278px;
    cursor: pointer;
    color: yellow;
}

.minicard>svg {
    z-index: 0;
    background-color: var(--element-bg-color-disabled);
}

.minicard-info {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.minicard-info-visit {
    visibility: hidden;
    transition: .4s;
    opacity: 0;
}

.minicard-info-selected {
    visibility: visible;
    opacity: 1;
}

.minicard-title {
    border: none;
    border-radius: 0;
    padding: .3em;
    box-sizing: border-box;
    margin: 0;
    height: 6em;
    font-weight: 600;
    color: white;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.minicard-score {
    border: none;
    z-index: 1;
    border-radius: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .3em;
    box-sizing: border-box;
    margin: 0;
    text-align: right;
    background-color: transparent;
}

.minicard-poster {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    background-color: transparent;
    color: var(--element-color);
    font-weight: bolder;
}

.minicard-footer {
    display: flex;
    justify-content: center;
    padding: .3em;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: rgba(0, 0, 0, .9);
}

.minicard-button {
    outline: none;
    border: 2px solid yellow;
    border-radius: 4px;
    background-color: inherit;
    color: yellow;
    font-size: 1.2em;
}

.minicard-button:active {
    border-color: white;
    color: white;
    background-color: gray;
}