.navbar {
    background-color: black;
}

.navbar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.navbar-left,
.navbar-center,
.navbar-right {
    display: flex;
    height: 3em;
}

.navbar-center {
    flex-grow: 1;
}

.navbar-right {
    padding-top: .5em;
    padding-bottom: .5em;
    box-sizing: border-box;
}

.navbar-left,
.navbar-right {
    flex-grow: 0;
}

.navbar-button {
    outline: none;
    border: 2px solid yellow;
    border-radius: 4px;
    background-color: inherit;
    color: yellow;
    font-size: 1.2em;
}

.navbar-button:active {
    border-color: white;
    color: white;
    background-color: gray;
}

.navbar-home {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    color: yellow;
}

.navbar-home-icon {
    font-size: 2.2em;
}

.navbar-home-text {
    font-size: 1.5em;
}

.navbar-search {
    display: flex;
    justify-content: center;
    height: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    box-sizing: border-box;
    flex-grow: 1;
}

.navbar-search-input {
    outline: none;
    border: 2px solid yellow;
    border-radius: 4px;
    background-color: inherit;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    flex-grow: 1;
    max-width: 40em;
}

.navbar-search-button {
    flex-grow: 0;
}

.navbar-link {
    display: flex;
    text-decoration: none;
}

.navbar-accordion {
    display: none;
    height: 100%;
}

.navbar-accordion-activator {
    display: none;
    border: none;
    background-color: inherit;
    color: yellow;
    font-size: 2.2em;
    margin-top: -3px;
}

.navbar-accordion-button {
    width: 100%;
    border: none;
    height: 3em;
    font-weight: bold;
    background-color: inherit;
    color: yellow;
    font-size: 1.2em;
}

.navbar-accordion-button:active {
    color: white;
    background-color: gray;
}

@media (max-width: 700px) {
    .navbar-home-text {
        display: none;
    }
}

/* Controla a exibição do menu de usuário */
@media (max-width: 550px) {
    .navbar-user-button {
        display: none;
    }

    .navbar-accordion {
        display: block;
    }

    .navbar-accordion-activator {
        display: inline;
    }
}